	*{
		padding: 0px;
		border: 0px;
		margin: 0px;
		box-sizing: border-box;
	}
	body{
		background-color: rgba(0, 0, 0, 0.4);
	}

	/*efeito abre e feche*/

	.ctn{
		/* border: 1px solid white; */
		display: flex;
		background-color: #091826;
	}
	#left{
		position: relative;
		/* border: 1px solid red; */
		height: 100vh;
		background-color: #091826;
	}
	.min{
		width: 5vw;
		min-width: 80px;
		transition: width 0.5s;
	}
	.max{
		width: 30vw;
		min-width: 100px;
		transition: width 0.5s;
	}
	#right{
		/* border: 1px solid blue; */
		width: 95vw;
		height: 100vh;
	}

	button{
		width: 200px;
	}

	.btn_top_ext{
		/* border: 1px solid white;  */
		position: absolute; 
		right: -15px; 
		top:10px;
		width: 36px;
		height: 36px;
		background: url('./img/bnt_menu_panel.png') 0 -2px;
		border-radius: 50%;
		z-index: 9;
	}

	.btn_top_rec{
		/* border: 1px solid white;  */
		position: absolute; 
		right: -15px; 
		top:10px;
		width: 36px;
		height: 36px;
		background: url('./img/bnt_menu_panel.png') 36px -38px;
		border-radius: 50%;
		z-index: 9;
	}

	/**Estilização do side bar*/

	#side-bar-top{
		background-image: url(./img/bg_side_bar.png);
    width: auto;
    height: 150px;
    background-size: auto;
    background-position: center 0;
    /* border: 1px solid white; */
    background-color: #091826;
	}
	#brand-side-bar-top{
	
		/* border:1px solid white;  */
		width: auto; 
		height: 50px; 
		color:white;
		background-image: url('./img/header_logo_trackeo.png');
		background-size: 70px 26px;
		background-position: center;
		background-repeat: no-repeat;
		margin-top: 10px;
	}
	#btn_perfil{
		display: block;
		background-image: url('./img/btn_perfil.png');
		width: 36px;
		height: 36px;
		background-size: 38px 38px;
		margin: 40px auto auto;
		border-radius: 50%;
		border: 1px solid hsla(0,0%,100%,.3);
		cursor: pointer;
		background-position: 50%;
		background-repeat: no-repeat;
	}
	.menu-list{
		margin-top: 12px;
		width: auto;
		height: auto;
		/* border: 1px solid red; */
	}
	.menu-list ul{
		width: auto;
		color: white;
	}
	.menu-list ul li{
		width:;
		height: 20px;
		/* border: 1px solid blue; */
		color: red;
		background-image: url('./img/meu.png');
		list-style: none;
		cursor: pointer;
	}

	.btn-conta{
		width: 18px;
		/* margin: 10px auto; */
		background-position: 0 0;
		background-origin: content-box;
	}
	.btn-business{
		width: 18px;
		/* margin: 10px auto; */
		background-position: -2px -42px;
		background-origin: content-box;
	}

	.btn-add-costumer{
		width: 18px;
		/* margin: 10px auto; */
		background-position: -2px -82px;
		background-origin: content-box;
	}

	.btn-add-device{
		width: 19px;
		/* margin: 10px auto; */
		background-position: -65px -159px;
		background-origin: content-box;
	}

	
	.btn-add-card{
		width: 19px;
		/* margin: 10px auto; */
		background-position: 0px -160px;
		background-origin: content-box;
	}

	.btn-functions{
		width: 19px;
		/* margin: 10px auto; */
		background-position: -21px -120px;
		background-origin: content-box;
	}
	ul div:hover{
		background-color: #162e44;
	}
	li i{
		position: absolute;
		left: 25px;
		color: white;
	}
	.btn-area-min{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		border-bottom: 1px solid #162e44;
	}	

	.btn-area-max{
		display: flex;
		align-items: center;
		height: 50px;
		border-bottom: 1px solid #162e44;
	}
	.label-menu{
		display: none;
	}


